{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block titulo %}<title>Login</title>{% endblock %}
{% block conteudo %}
<div class="container-fluid">
    <div class="row bg-light">

        <div class="col-md-4">
        </div>
        <div class="col-md-4 bg-white" style="margin-top:60px; margin-bottom:150px;">
            <!-- Default form login -->
            <form method="post" class="text-center border border-light p-5" action="{% url 'login' %}">
                {% csrf_token %}
                 <p class="h4 mb-4">Login</p>
                {% bootstrap_form form %}
                <div class="text-center">
                    <!-- Forgot password -->
                    <a class="text-center" href="#">Esqueceu a senha?</a>
                </div>
            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit">Entrar</button>

            <!-- Register -->
            <p>Não é cadastrado?
                <a href="{% url 'contas:registrar' %}">Registre-se</a>
            </p>

            <!-- Social login -->
            <p>ou entre com:</p>

            <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
            <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

        </form>
            <!-- Default form login -->
        </div>
        </div>
        <div class="col-md-3">
        </div>
</div>
{% endblock %}