{% extends 'contas/admin_cursos.html'%}
{% block titulo %}<title>Painel Aulas</title>{% endblock %}
{% block breadcrumb %}
{{block.super}}
<li class="breadcrumb-item"><a href="{% url 'cursos:anuncio' curso.slug %}">Curso</a></li>
{% endblock %}
{% block tema %}
<h1 class="text-center">Anuncio das Aulas</h1>
{% endblock %}

{% block menu_opcoes %}
<div class="list-group">
    <li class="list-group-item text-center">
        <h5><b>{{curso}}</b></h5>
    </li>
    <a href="{% url 'cursos:licoes' curso.slug %}" class="list-group-item list-group-item-action">
        <i class="fas fa-video"></i>
        Aulas e Materiais
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <i class="fas fa-info-circle"></i>
        Informações
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <i class="fas fa-envelope"></i>
        Anuncios
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <i class="far fa-comments"></i>
        Forum de Dúvidas
    </a>
</div>
{{block.super}}
{% endblock %}

{% block estudante %}
<div class="container">
    {% if anuncios %}
    {% for anuncio in anuncios %}
    <a href="{% url 'cursos:mostrar_aula' curso.slug anuncio.pk %}">
    <h3 class="title text-center">{{anuncio.titulo}}</h3>
    </a>
    {{anuncio.conteudo | linebreaks|truncatewords:'200'}} <a href="{% url 'cursos:mostrar_aula' curso.slug anuncio.pk %}" type="button" class="btn btn-sm btn-info">Continuar...</a>
    <div class="coments">
        <a href="{% url 'cursos:mostrar_aula' curso.slug anuncio.pk %}">
        {% with contar=anuncio.comentarios.count %}
        <i class="far fa-comments"></i>
        {{contar}}
        Comentário{{contar | pluralize}}
        {% endwith %}
        </a>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-danger">Não a anuncios sobre o curso.</p>
    {% endif %}
</div>
{% endblock %}