{% extends 'base/base.html' %}
{% block titulo %}<title>Contato</title>{% endblock %}
{% block conteudo %}
<br><br><br>
<div class="container">
    <h1>Fale Conosco</h1><br><br>
    <h5>Você pode entrar em contato conosco atraves do email, rede social ou por telefone. Em breve retornaremos o contato.</h5><br><br>
    <h3>Links</h3>
    <p>Email: <b><a href="#">simplemooc@gmail.com</a></b></p>
    <p>Twitter: <b><a href="#">@simplemooc</a></b></p>
    <p>Telefone: <b><a href="#">(88) 9 9905 5463</a></b></p>

</div>
{% endblock %}