{% extends 'base/base.html' %}
{% load static %}
{% load contas_tags %}
{% block titulo %}<title>Painel Cursos</title>{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'contas/css/cursos.css' %}">
{% block conteudo %}

<ul class="breadcrumb">
	{% block breadcrumb %}
  	<li class="breadcrumb-item"><a href="{% url 'contas:painel' %}">Painel</a></li>
	{% endblock %}
</ul>
{% block tema %}
<h1 class="text-center">Painel do Estudante</h1>
{% endblock %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
			<!--team-1-->
			<div class="col-sm-12">
				{% block menu_opcoes %}
                {% inscricoes user %}
			  <div class="list-group">
                <h3 class="list-group-item">Configurações de Conta</h3>
				<a href="{% url 'contas:editar'%}" class="list-group-item list-group-item-action">
                    <i class="fas fa-user-edit"></i>
                    Editar Informações
                </a>
				<a href="{% url 'contas:senha' %}" class="list-group-item list-group-item-action">
                    <i class="fas fa-lock"></i>
                    Editar Senha
                </a>
				<a href="#" class="list-group-item list-group-item-action">
                    <i class="fas fa-book-open"></i>
                    Editar Cursos
                </a>
			  </div>
				{% endblock %}
			</div>
			</div>
			<!--team-2-->
			<div class="col-md-8">
				{% block estudante %}

				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}