{% extends 'base/base.html' %}
{% load static %}
{% block titulo %}<title>Painel Cursos</title>{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'contas/css/cursos.css' %}">
{% block conteudo %}

<ul class="breadcrumb">
	{% block breadcrumb %}
  	<li class="breadcrumb-item"><a href="{% url 'contas:painel' %}">Painel</a></li>
	{% endblock %}
</ul>
{% block tema %}
<h1 class="text-center">Painel do Estudante</h1>
{% endblock %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
			<!--team-1-->
			<div class="col-sm-12">
				<h3>Meus Cursos</h3>

			  <div class="list-group">
				<a href="#" class="list-group-item list-group-item-action">Curso 1</a>
				<a href="#" class="list-group-item list-group-item-action">Curso 2</a>
				<a href="#" class="list-group-item list-group-item-action">Curso 3</a>
			  </div>

			<h3>Minha Conta</h3>
			  <div class="list-group">
				<a href="{% url 'contas:editar'%}" class="list-group-item list-group-item-action">Editar Conta</a>
				<a href="{% url 'contas:senha' %}" class="list-group-item list-group-item-action">Editar Senha</a>
				<a href="#" class="list-group-item list-group-item-action">Editar Cursos</a>
			  </div>
			</div>
			</div>
			<!--team-2-->
			<div class="col-md-9">
				{% block estudante %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}